.denglu{
	width: 428px;
	height:332px;
	overflow: hidden;
	position: absolute;
	left:450px;
	top: 110px;
	background: #ebf2f9;
	border-radius: 2px;
	z-index: 0;
	display: none;
}
#closeDenglu{
	cursor: pointer;
}
#jinru:active{
	background: #036eb1;
}
.denglu .dengshang{
	height: 183px;
	overflow: hidden;
	background-image: url(../img/denglu.png);
	background-size: cover;	
	background-repeat: no-repeat;
}
.denglu ul{
	/*position: absolute;*/
	margin-top:8px;
	margin-left: 360px;
	z-index: 100;
}
.denglu ul li{
	list-style: none;
	float: left;
	font-size: 12px;
	margin-right: 10px;
	color: #FFFFFF;
}
.denglu .dengxia img{
	float: left;
	margin-left: 40px;
}
.denglu .dengxia .dakuang{
	width: 193px;
	height: 66px;
	/*border-radius:5px;*/
	/*border: 1px solid #d1d1d1;*/
	margin-left: 130px;
	margin-top: 10px;
	position: relative;
	overflow: hidden;
}
.denglu .dakuang input{
	width: 186px;
	height: 30px;
	margin-top: 1px;
	border: 1px solid #87CEFA;
	border-radius: 2px;
	padding-left: 5px;
	
}
.denglu .xiajian{
	position: absolute;
	top: 10px;
	left: 130px;
	width: 15px;
}
.denglu .shubiao{
	position: absolute;
	top: 40px;
	left: 130px;
	width: 15px;
}
.denglu .ji{
	float: left;
	margin-left: 10px;
	margin-top: 8px;
	border:1px solid #656565;
}
.denglu .dong{
	margin-left: 10px;
	margin-top: 8px;
	margin-left: 60px;
	border:1px solid #656565;
}
label{
	font-size: 12px;
	margin-left: 3px;
	margin-top: -2px;
	color: #656565;
}
.jizhu,.zhaohui{
	font-size: 12px;
	color: #2685e3;
	margin-left: 340px;
	margin-top: -45px;
}
.denglu .dengdeng{
	height: 45px;
	margin-top:70px;
	
}
.denglu .dengdeng span{
	color:#cccccc ;
	font-size: 18px;
	margin-left: 10px;
	float: left;
	margin-top: 20px;
}
#jinru{
	width:195px;
	height: 30px;
	background:#09a3dc ;
	color: #FFFFFF;
	border: 0;
	border-radius: 3px;
	margin-top: 10px;
	margin-top: 10px;
	margin-left: 100px;
	float: left;
	cursor: pointer;
}
#tihuan{
	position: absolute;
	left: 105px;
	top: 257px;
	font-size: 14px;
	color: white;
	cursor: pointer;
}
 .xiang{
	width:120px;
	height:152px;
	/*overflow: hidden;*/
	background: #fffefe;
	position: absolute;
	top:387px;
	left:558px;
	z-index: 10;
	display: none;
}
 .xiang ul{
	height: 150px;
	width: 120px;
}
 .xiang ul li{
	height: 30px;
	line-height: 30px;
	font-size: 10px;
	color: #222222;
	list-style: none;
	cursor: pointer;
}
 .xiang ul li i{
	font-size: 14px;
	width: 25px;
	height: 30px;
	text-align: center;
	margin-right: 10px;
	background: #e9e9e9;
	display: block;
	float: left;
}
 .xiang ul li:hover{
	background:#337fd1;
	color: #FFFFFF;
}
 .xiang p{
	width: 118px;
	margin-left:px;
	border:0.5px solid #EEEEEE;
}

